{{#unless group.main}}
  <a href="#" onclick={{action "saveLocation" group.id}} class="{{if group.state "active-g"}}" title={{group.name}}>
    {{fa-icon "fas fa-briefcase"}}
    {{#unless menu}}
      {{group.name}}
      <div class="delete btn float-right delete-group-button-block" onclick={{action "deleteGroup" group.id}}>
        {{fa-icon "fas fa-trash delete-group-button-item"}}
      </div>
    {{/unless}}
  </a>
{{/unless}}
{{yield}}