{{#each-in list as |key value|}}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            {{input type='checkbox' checked=value.completed click=(action "completed" key) class="task-checkbox" aria-label="Checkbox for following text input"}}
                        </div>
                    </div>
                        {{#if value.completed}}
                            <div class="row completedTaskBlock">
                                <div class="col">
                                    <strike>{{value.task}}</strike>
                                </div>
                            </div>
                        {{else}}
                            {{textarea class="form-control" aria-label="With textarea" rows="1" value=value.task input=saveTask}}
                        {{/if}}
                        <div class="input-group-append">
                            {{input type="button" class="btn deleteTaskButton" click=(action "deleteTask" key) value="✕"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    no obj
{{/each-in}}

{{yield}}