{{#each-in list as |key value|}}
  <div class="row">
    <div class="col">
      <div class="task-item" id={{key}}>
        <div class="row bg-white">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text checkbox-block">
                  <div class="checkbox">
                    <label>
                      {{input type='checkbox' checked=value.completed click=(action "completed" key) class="task-checkbox" aria-label="Checkbox for following text input" class="checkbox"}}
                      <span class="cr">
                        {{fa-icon "fas fa-check cr-icon glyphicon glyphicon-arrow-right"}}
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              {{#if value.completed}}
                <div class="row completed-task-block">
                  <div class="col">
                    <strike>{{value.task}}</strike>
                  </div>
                </div>
              {{else}}
                {{textarea class="form-control change-task-input" aria-label="With textarea" rows="1" value=value.task input=saveTask}}
              {{/if}}
              <div class="input-group-append delete-task-button-block">
                {{input type="button" class="btn delete-task-button" click=(action "deleteTask" key) value="✕"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <span>no tasks</span>
{{/each-in}}
{{yield}}