<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Todo</h3>
                <strong>TD</strong>
            </div>
            <ul class="list-unstyled components">
                <div class="row">
                    <div class="col">
                        <div class="card groups-list-block square scrollbar-pink bordered-pink thin">
                            <div class="card-body">
                                <li>
                                    <a href="#">
                                        {{fa-icon "fas fa-briefcase"}}
                                        Main group
                                    </a>
                                    {{!-- <a href="#">
                                        <i class="fas fa-briefcase"></i>
                                        About
                                    </a> --}}
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <ul class="list-unstyled components">
                <div class="row">
                    <div class="col">
                        <div class="card groups-list-block square scrollbar-pink bordered-pink thin">
                            <div class="card-body">
                                <li>
                                    {{#each-in list as |key value|}}
                                        <a href="#" onclick={{action "saveLocation" key}} class="{{if value.active 'active-g'}}">
                                            {{fa-icon "fas fa-briefcase"}}
                                            
                                            {{#unless menu}}
                                                {{value.group}}
                                            {{/unless}}
                                            <div class="delete" class="btn float-right delete-group-button-block" onclick={{action "deleteGroup" key}}>
                                                {{fa-icon "fas fa-trash delete-group-button-item"}}
                                            </div>
                                        </a>
                                    {{/each-in}}
                                    {{!-- <a href="#">
                                        <i class="fas fa-briefcase"></i>
                                        About
                                    </a> --}}
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <ul class="list-unstyled CTAs">
                <div class="row task-controll-panel">
                    <div class="col">
                        {{input value=group class="form-control add-new-group-input add-new-task-input" aria-label="Recipient's
                        username" aria-describedby="basic-addon2" placeholder="Add a group" keyDown=(action "addGroup")}}
                    </div>
                </div>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="article" onclick={{action "deleteCompletedTask"}}>
                        Delete completed tasks
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="article">Import</a>
                </li>
                <li onclick={{action "openExportModal"}}>
                    <a href="#" class="article">Export</a>
                     {{#if isShowingExportModal}}
                        {{#modal-dialog
                            onClose=(action "toggleModal")
                            targetAttachment="center"
                            translucentOverlay=true
                        }}
                            <div class="row">
                                <div class="col-2">
                                    <div class="input-group-text checkbox-block">
                                        <div class="checkbox">
                                        <label>
                                            {{input type='checkbox' checked=exportCompletedTasks class="checkbox task-checkbox" aria-label="Checkbox for following text input"}}
                                            <span class="cr">
                                                {{fa-icon "fas fa-check cr-icon glyphicon glyphicon-arrow-right"}}
                                            </span>
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <span style="display: block; margin-top: 5px">Export completed tasks?</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a download="Tasks.csv" href="data:text/plain;charset=UTF-8,{{csvFile}}" class="btn btn-success" onclick={{action "createCSVfile"}}>
                                        Download CSV
                                    </a>
                                    <input class="btn btn-success" value="Download XLSX" type="button" onclick={{action "createXLSXfile"}}/>
                                </div>
                            </div>
                        {{/modal-dialog}}
                    {{/if}}
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        {{fa-icon "fas fa-align-left"}}
                        <span>Groups</span>
                    </button>
                    <button type="button" id="sidebarCollapse" class="btn btn-info" onclick={{action "cLog"}}>
                        {{fa-icon "fas fa-align-left"}}
                        <span>console</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row task-conteiner">
                <div class="col-5 subgroup-list-block">
                    {{subgroup-list list location (action "saveLocationForSubgroup") (action "deleteSubgroup")}}
                </div>
                <div class="col task-list-block">
                    <div class="card task-list-block-scroll square scrollbar-pink bordered-pink thin">
                        <div class="card-body">
                            {{task-list list (action "changeId") (action "changeActive") (action "changePassive") (action "deleteDataTask") stats (action "deleteTask") (action "isCompleted") (action "saveTask") location}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid controll-panel-container fixed-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col left-margin-col">

                        </div>
                        <div class="col">
                            <div class="row controll-panel-row">
                                <div class="col-5 col-add-new-group-input">
                                    {{input value=subgroup class="form-control add-new-task-input" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="Add a sub group" keyDown=(action "addSubgroup")}}
                                    
                                </div>
                                <div class="col task-controll-panel">
                                    <div class="row">
                                        <div class="col col-new-task-input">
                                            {{#add-task (action "addtask")}}
                                                {{input value=task class="form-control add-new-task-input" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="Add a task" keyDown=(action "pressEnter" (action "addtask"))}}
                                            {{/add-task}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>